
@font-face {
    font-family: "ProductSans-Bold";
    src:url("/static/gpride/fonts/ProductSans-Bold-Web.eot");
    src:url("/static/gpride/fonts/ProductSans-Bold-Web.eot?#iefix") format("embedded-opentype"),
        url("/static/gpride/fonts/ProductSans-Bold-Web.woff2") format("woff2"),
        url("/static/gpride/fonts/ProductSans-Bold-Web.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Roboto-Bold";
    src:url("/static/gpride/fonts/Roboto-Bold.eot");
    src:url("/static/gpride/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
        url("/static/gpride/fonts/Roboto-Bold.woff2") format("woff2"),
        url("/static/gpride/fonts/Roboto-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src:url("/static/gpride/fonts/Roboto-Regular.eot");
    src:url("/static/gpride/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
        url("/static/gpride/fonts/Roboto-Regular.woff2") format("woff2"),
        url("/static/gpride/fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Roboto-Medium";
    src:url("/static/gpride/fonts/Roboto-Medium.eot");
    src:url("/static/gpride/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
        url("/static/gpride/fonts/Roboto-Medium.woff2") format("woff2"),
        url("/static/gpride/fonts/Roboto-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
