
@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/Roboto-Regular.woff') format('woff'),
			 url('../fonts/Roboto-Regular.ttf')  format('truetype'),
			 url('../fonts/Roboto-Regular.svg#0f36e451afbb48ba6ebc31554b154772') format('svg'); /* Legacy iOS */
	font-stretch: normal;
	font-style:   normal;
	font-weight:  400;
}

html{
	line-height: 1.5;
	font-family: Roboto;
	font-weight: normal;
	color: black;
}


Roboto = "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
