<section class="page-wrapper" id="homepage">

	<div class="grid">
		<div class="grid__col-12">
			<h1>{{datas.content.title}}</h1>
			<h2>{{yell datas.content.title}}</h2>
		</div>
		<div class="grid__col-xs-6 grid__col-12">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et sagittis dui. Maecenas rhoncus justo aliquam urna finibus tincidunt et ut mauris.
				</p>
		</div>
		<div class="grid__col-xs-6 grid__col-12">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et sagittis dui. Maecenas rhoncus justo aliquam urna finibus tincidunt et ut mauris.
			</p>
		</div>
</div>
</section>
