<div id="rotate-screen">
	<div class="o-grid text-container">
		<div class="row offset-root-content">
			<div class="col-root-all-12">
				<span class="icon">{{SVG.rotate|raw}}</span><span class="--f-bold32 --c-white label">Rotate your screen</span>
			</div>
		</div>
	</div>
</footer>
