/*==========  Variables  ==========*/

@import "default/_variables";

/*==========  Global styles  ==========*/

@import "default/_global";
@import "default/_typography";

/*==========  Components  ==========*/

@import "default/components/_header";

/*==========  Pages  ==========*/

@import "default/pages/_index";

