// colors
$c-white			: #FFF;
$c-black			: #000;
$c-orange           : #FF9700;
$c-charcoal-grey   : #515255;

$c-tomato			: #e94335;
$c-golden-rod		: #f9ba05;
$c-tangerine		: #ff8c00;
$c-dodger-blue		: #4284f3;
$c-dodger-blue-hover: #3B77DB;
$c-medium-green		: #34a753;
$c-purply-blue		: #7314e2;
$c-dark-grey		: #2b2d30;
$c-med-grey         : #adada9;
$c-stack-grey		: #7F7F7F;
$c-cool-grey		: #959ca5;
$c-light-grey		: #ededed;
$c-athens-grey		: #E1E5EB;

$c-sidebar-grey     : #A7A7A7;

//material gret
$c-800-grey:        #424242;
$c-600-grey:        #757575;
$c-500-grey:        #9E9E9E;
$c-400-grey:        #BDBDBD;

//FLAG
$c-flag-red : #ED4D3C;
$c-flag-orange : #FF9700;
$c-flag-yellow : #FAC302;
$c-flag-green : #3BB15D;
$c-flag-blue : #4284f3;
$c-flag-purple : #800592;
