// heights
$header-mobile-height: 56px;
$header-tablet-height: 56px;

$nav-padding: 24px;
$nav-item-margin: 36px;

$nav-padding-mobile-top: 18px;
$nav-padding-mobile-left: 16px;

$parade-detail-footer-height: 47px;

// width
$sidebar-width: 90px;
$sidebar-width-homepage: 244px;
