#app-index {

	.content-left{

		min-height: 520px;
		height: 100vh;

		// position: relative;
		// z-index: 2;
		overflow: visible;
		padding-bottom: 0px;

		.wrapper-anim{
			overflow: visible;
		}
		.intro-content-wrapper{
			height: 100%;
			position: relative;
		}

		.index-headlines{
			// position: relative;
			// z-index: 1;
			height: 100%;

			.sub-headline{
				margin-bottom: 0px;
			}

			.button{
				position: absolute;
				bottom: 40px;
			}
		}

		.index-stats{

			bottom: 160px;
			left: 0px;
			$doubleGutters = (gutters * 2)
			// width: "calc(100% - %s )" % $doubleGutters
			width: 100%;

			.stats-container{

				width: calc(50% - 2px);
				padding-right: 3.575%;
				float: none;
				margin-bottom: 0px;
				vertical-align:top;

				&.tax-credits{

					width: calc(50% - 2px);
					padding-left: 3.575%;
					padding-right: 0px;

					h4{
						left: -2px;
					}

				}

				p{

					fontSize( 32rem , 1.1rem , 320 , max-font-width);
					lineHeight( 32rem , 1.3rem , 320 , max-font-width);
					white-space: nowrap;

				}
				h4{

					fontSize( 32rem , 4.0rem , 320 , max-font-width);
					lineHeight( 32rem , 5.0rem , 320 , max-font-width);
					position: relative;
					top: 0px;
					left: -4px;
				}

			}

			.separator{
				position: absolute;
				// left: calc(50% - 1px);
				// optic adjustement only work with current copy, so update back to regular if copy change
				left: calc(50% - 0px);
				width: 1px;
				height: 100%;
				margin: 0px;
			}

			.disclaimer{
				fontSize( 32rem , 1.0rem , 320 , max-font-width);
				lineHeight( 32rem , 1.2rem , 320 , max-font-width);
				letter-spacing: -0.0175em;
				font-weight: 500;

				position: absolute;
				bottom: 0px;
				// transform: translateY( calc(100% + 15px));
				transform: translateY(100%) translateY(15px);
			}

		}

	}

	.index-tiles{
		.tile{
			height: 62vw;
		}
	}

	.background-container{
		height: 100vh;
		min-height: 520px;
		// background-image url('../images/cinemagraph-mobile.jpg');
		// background-size cover;
		// background-position: 50% 50%;

		.overlay{
			display: none;
		}

		.poster{
			//override tablet specific rule here
			display: block;
			top: 0px;
			left: 0px;
		}

		video{
			display: none;
		}

	}

}
