<section class="hotspot-photo-item">
	<div class="bg-container">
		<span class="bg"style="background-image:url({{asset.src}});">
		</span>
	</div>

	<div class="o-grid text-container">
		<div class="row offset-root-content">
			<div class="col-root-all-6 col-root-lg-6 col-root-md-9 col-root-sm-9">
				<p class="--ff-subhead --c-white title">{{title}}</p>
			</div>
		</div>
	</div>

</section>
