<div class="yt-player">
	<div data-type="youtube" class="js-player" data-video-id="{{youtube_id}}" data-title={{title}}></div>
	<!-- <div class="js-player" data-title={{title}}>
		<video autoplay webkit-playsinline playsinline class="video" controls="true" src="../../../static/gpride/video/1.mp4"></video>
	</div> -->
</div>
