<div>
    <span>{{SVG.share|raw}}</span>
    <ul class="row left middle">
        <li class="social-item facebook"><button share-id="facebook">{{SVG.facebook|raw}}</button></li>
        <li class="social-item twitter"><button share-id="twitter" share-hashtags="ishowup">{{SVG.twitter|raw}}</button></li>
    </ul>
</div>
