<section id="main-loader" class="loader">

	<div class="bar-container">
		<span class="bar"></span>
	</div>

	<span class="bg"></span>

	<div class="text-container">

		<p class="i-show-up">
			{{SVG.showup_logo|raw}}
		</p>
		<!-- <p class="because --ff-intro-title --c-cool-grey"></p> -->

		<!-- <div class="statement-container">
			<div class="ghost --ff-intro-title col-root-all-6 col-root-md-12">ghost</div>
			<div class="line-container line-one-one"></div>
			<div class="line-container line-one-two"></div>
		</div>
		<div class="statement-container">
			<div class="ghost --ff-intro-title col-root-all-6 col-root-md-12">ghost</div>
			<div class="line-container line-two-one"></div>
			<div class="line-container line-two-two"></div>
		</div>
		<div class="author-content">
			<span class="author --ff-author-loader --c-cool-grey"></span>
			<span class="ghost --ff-author-loader">author</span>
		</div> -->
	</div>


</section>
