<section id="app-not-found" class="full-size">
	<div class="o-grid text-container">
		<div class="off-root-all-1 col-root-all-5 col-root-lg-6 col-root-md-9 col-root-sm-11">
			<h1 class="--c-white --ff-notfound-title">404</h1>
			<p class="--ff-subhead --c-white">Oops… Looks like the party is over and the page you were looking for doesn’t exist. </p>
			<a href="{{home.url}}" class="--btn-std">Back to home</a>
		</div>
	</div>
</section>
