<section id="parade-detail-gmaps">
	<a href="#" class="open-in-gmaps" target="_blank">
		<span class="label --f-medium12 --c-cool-grey">{{ui.label_open_in_gmaps}}</span>
		<span class="icon">{{SVG.marker|raw}}</span>
	</a>
	<div class="map-container"></div>
	<div class="map-container-buffer"></div>
</section>
 
