/*==========  Google fonts  ==========*/
/*==========  Browser reset  ==========*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*==========  Sprites  ==========*/
/*==========  Globals Variables  ==========*/
@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Regular.woff") format('woff'), url("../fonts/Roboto-Regular.ttf") format('truetype'), url("../fonts/Roboto-Regular.svg#0f36e451afbb48ba6ebc31554b154772") format('svg'); /* Legacy iOS */
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
}
html {
  line-height: 1.5;
  font-family: Roboto;
  font-weight: normal;
  color: #000;
}
.backgroundlassName-base-light-font-color {
  background-color: #fff;
}
.base-light-font-color {
  color: #fff;
}
.backgroundlassName-black {
  background-color: #000;
}
.black {
  color: #000;
}
.backgroundlassName-text-black {
  background-color: #141414;
}
.text-black {
  color: #141414;
}
.backgroundlassName-base-dark-font-color {
  background-color: #202127;
}
.base-dark-font-color {
  color: #202127;
}
/*==========  Utils  ==========*/
.underline {
  text-decoration: underline;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.vertical-align-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
/* Reflex v1.0.9 - https://github.com/leejordan/reflex */
/*==========  Mixins  ==========*/
/*==========  Media queries  ==========*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body.is-scrolling {
  pointer-events: none;
}
.icon {
  font-size: 2.5rem;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 3.6rem;
  line-height: 4.3rem;
}
h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}
h3 {
  font-size: 2.8rem;
  line-height: 2.1rem;
}
h4 {
  font-size: 3rem;
  line-height: 4rem;
}
h5 {
  font-size: 2rem;
  line-height: 2.4rem;
}
h6 {
  font-size: h6-fontsize;
  line-height: h6-lineheight;
}
a {
  font-size: 1.4rem;
  line-height: 3rem;
}
p {
  font-size: 2rem;
  line-height: 100%;
}
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
b {
  font-size: 1.4rem;
}
em {
  font-style: italic;
}
strong {
  font-weight: 500;
}
small {
  font-size: 75%;
}
.light {
  font-weight: 300;
}
.thin {
  font-weight: 200;
}
html,
body {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #fff;
}
h1 {
  font-family: LouisRegular;
}
h2 {
  font-family: LouisBold;
}
strong {
  font-weight: bold;
}
h3 {
  font-family: LouisBold;
}
h4 {
  font-family: LouisRegular;
}
p {
  font-size: 2rem;
  line-height: 3rem;
}
p strong {
  font-family: LouisRegular;
  font-size: 2rem;
  line-height: 3rem;
}
p em {
  font-style: italic;
  font-family: LouisRegular;
  font-size: 2rem;
  line-height: 3rem;
}
p .bold {
  font-weight: 700;
}
.headline {
  font-family: LouisRegular;
  font-size: 3.6rem;
  line-height: 1;
  letter-spacing: -0.035em;
  margin-bottom: 18px;
}
.sub-headline {
  font-size: 2.4rem;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 3.2rem;
  letter-spacing: -0.02em;
  margin-bottom: 38px;
}
.third-line {
  font-size: 1.7rem;
  line-height: 2rem;
}
.main-header {
  display: block;
  height: 42px;
  position: absolute;
  top: 31px;
  left: 2.34%;
  z-index: 12;
  opacity: 0;
}
.main-header .hamburger-container {
  z-index: 9;
  position: relative;
}
.main-header .hamburger-menu {
  display: block;
  margin-right: 10px;
  float: left;
  position: relative;
  top: 10px;
  cursor: pointer;
}
.main-header .hamburger-menu .hamburger-menu-wrapper {
  display: block;
  position: relative;
  height: 19px;
  width: 32px;
}
.main-header .hamburger-menu .hamburger-menu-wrapper .line {
  display: block;
  background-color: #fff;
  width: 100%;
  height: 3px;
  position: absolute;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.main-header .hamburger-menu .hamburger-menu-wrapper .line.line-2 {
  top: 8px;
}
.main-header .hamburger-menu .hamburger-menu-wrapper .line.line-3 {
  top: 16px;
}
.main-header .hamburger-menu.active .hamburger-menu-wrapper .line.line-1 {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}
.main-header .hamburger-menu.active .hamburger-menu-wrapper .line.line-2 {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.main-header .hamburger-menu.active .hamburger-menu-wrapper .line.line-3 {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}
.main-header .logo {
  display: inline-block;
  height: 45px;
  -webkit-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 0px;
  position: relative;
  top: -2px;
  float: left;
  will-change: transform;
}
.main-header .logo a {
  height: 100%;
  line-height: 3.8rem;
  display: block;
  text-decoration: none;
}
.main-header .logo a img {
  height: 100%;
}
.main-header .logo .title {
  display: block;
  height: 0;
  overflow: hidden;
  display: block;
  position: absolute;
}
#app-index .content-left {
  position: relative;
  z-index: 2;
  padding-bottom: 3%;
}
#app-index .content-left .intro-content-wrapper {
  height: 100%;
  position: relative;
}
#app-index .content-left .index-headlines {
  position: relative;
  z-index: 1;
}
#app-index .content-left .index-headlines .sub-headline {
  margin-bottom: 29px;
}
#app-index .content-left .index-stats {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}
#app-index .content-left .index-stats .stats-container {
  width: auto;
  display: inline-block;
  margin-bottom: 10px;
  float: left;
}
#app-index .content-left .index-stats .stats-container.tax-credits {
  width: 200px;
}
#app-index .content-left .index-stats .stats-container.tax-credits h4 {
  left: -2px;
}
#app-index .content-left .index-stats .stats-container p {
  color: #fff;
  font-family: LouisRegular;
  font-size: 1.3rem;
  line-height: 1.4rem;
  letter-spacing: -0.015em;
}
#app-index .content-left .index-stats .stats-container h4 {
  color: #fff;
  font-family: LouisRegular;
  font-size: 5.2rem;
  line-height: 6rem;
  letter-spacing: -0.04em;
  position: relative;
  top: 0px;
  left: -4px;
}
#app-index .content-left .index-stats .separator {
  display: inline-block;
  width: 3px;
  height: 86px;
  background-color: #fff;
  margin-right: 20px;
  margin-left: 20px;
  float: left;
}
#app-index .content-left .index-stats .disclaimer {
  color: #fff;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: -0.0175em;
  margin-left: -2px;
  clear: left;
}
#app-index .content-left .background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-image: url("../images/cinemagraph.jpg");
  background-size: cover;
  background-position: 0 50%;
}
#app-index .index-tiles {
  position: relative;
  z-index: 2;
}
#app-index .index-tiles .tile {
  height: 33.33%;
}
#app-index .background-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}
#app-index .background-container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(0,0,0,0.2);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 70%, rgba(0,0,0,0.2) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 70%, rgba(0,0,0,0.2) 100%);
}
#app-index .background-container .poster {
  z-index: 2;
/* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: 100%;
/* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
}
#app-index .background-container video {
  opacity: 1;
  z-index: 1;
/* Make video to at least 100% wide and tall */
/* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: 100%;
/* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
}
/* Devices, Tablets/Mobile */
@media only screen and (max-width: 960px) {
  html {
    background-image: none;
    background-color: #fff;
  }
  .content-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 6.25%;
    padding-left: 6.25%;
    overflow: hidden;
  }
  #content {
    height: auto;
  }
  .container {
    display: block;
  }
  .page-wrapper {
    height: auto;
    position: relative;
  }
  .page-wrapper .content-left {
    min-height: 100vh;
    padding: 14.7887vh 6.25% 0px 6.25%;
  }
  .page-wrapper .content-left .wrapper-anim {
    padding: 0;
    position: relative;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper-anim {
    padding: 0;
    position: relative;
  }
  .main-header {
    position: fixed;
    top: 11px;
    left: 9px;
  }
  .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
    visibility: hidden;
  }
  .hide {
    visibility: hidden;
  }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    font-weight: inherit;
  }
  h1 {
    font-size: 3.2rem;
    line-height: 3.4rem;
  }
  h2 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  h3 {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
  h4 {
    font-size: 2.3rem;
    line-height: 4rem;
  }
  h5 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  h6 {
    font-size: h6-fontsize;
    line-height: h6-lineheight;
  }
  a {
    font-size: 1.4rem;
    line-height: 3rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 100%;
  }
  blockquote,
  pre,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  b {
    font-size: 1.4rem;
  }
  p strong {
    font-family: LouisRegular;
  }
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    p strong {
      font-size: 1.6rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    p strong {
      font-size: 5vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    p strong {
      font-size: 2.1rem;
    }
}
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    p strong {
      line-height: 3rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    p strong {
      line-height: 9.375vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    p strong {
      line-height: 3.9rem;
    }
}
  p em {
    font-style: italic;
    font-family: LouisRegular;
  }
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    p em {
      font-size: 1.6rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    p em {
      font-size: 5vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    p em {
      font-size: 2.1rem;
    }
}
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    p em {
      line-height: 3rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    p em {
      line-height: 9.375vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    p em {
      line-height: 3.9rem;
    }
}
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    p {
      font-size: 1.6rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    p {
      font-size: 5vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    p {
      font-size: 2.1rem;
    }
}
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    p {
      line-height: 3rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    p {
      line-height: 9.375vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    p {
      line-height: 3.9rem;
    }
}
  .headline {
    font-family: LouisRegular;
    letter-spacing: -0.035em;
    margin-bottom: 7%;
  }
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    .headline {
      font-size: 3.2rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    .headline {
      font-size: 10vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    .headline {
      font-size: 4.1rem;
    }
}
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    .headline {
      line-height: 3.4rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    .headline {
      line-height: 10.625vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    .headline {
      line-height: 4.4rem;
    }
}
  .sub-headline {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.02em;
    margin-bottom: 9%;
  }
  .sub-headline br {
    display: none;
  }
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    .sub-headline {
      font-size: 1.8rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    .sub-headline {
      font-size: 5.625vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    .sub-headline {
      font-size: 2.3rem;
    }
}
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    .sub-headline {
      line-height: 2.4rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    .sub-headline {
      line-height: 7.5vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    .sub-headline {
      line-height: 3.1rem;
    }
}
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    .third-line {
      font-size: 1.6rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    .third-line {
      font-size: 5vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    .third-line {
      font-size: 2.1rem;
    }
}
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    .third-line {
      line-height: 3rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    .third-line {
      line-height: 9.375vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    .third-line {
      line-height: 3.9rem;
    }
}
  .open .main-header {
    position: fixed;
  }
  .main-header {
    display: block;
    height: 42px;
    width: 100%;
    padding: 0 6.25%;
    position: absolute;
    left: 0;
  }
  .main-header .hamburger-menu {
    display: block;
    margin-left: 0;
    margin-right: 0;
    float: left;
    position: relative;
    top: 10px;
    cursor: pointer;
  }
  .main-header .hamburger-menu .hamburger-menu-wrapper {
    display: block;
    position: relative;
    height: 19px;
    width: 32px;
  }
  .main-header .hamburger-menu .hamburger-menu-wrapper .line {
    display: block;
    background-color: #fff;
    width: 100%;
    height: 3px;
    position: absolute;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .main-header .hamburger-menu .hamburger-menu-wrapper .line.line-2 {
    top: 8px;
  }
  .main-header .hamburger-menu .hamburger-menu-wrapper .line.line-3 {
    top: 16px;
  }
  .main-header .hamburger-menu.active .hamburger-menu-wrapper .line.line-1 {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .main-header .hamburger-menu.active .hamburger-menu-wrapper .line.line-2 {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  .main-header .hamburger-menu.active .hamburger-menu-wrapper .line.line-3 {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .main-header .logo {
    height: 24px;
    position: relative;
    float: right;
  }
  .main-header .logo a {
    position: absolute;
    right: 0px;
    top: 7px;
    height: 33px;
    line-height: 3.2rem;
  }
  #app-index .content-left {
    min-height: 520px;
    height: 100vh;
    overflow: visible;
    padding-bottom: 0px;
  }
  #app-index .content-left .wrapper-anim {
    overflow: visible;
  }
  #app-index .content-left .intro-content-wrapper {
    height: 100%;
    position: relative;
  }
  #app-index .content-left .index-headlines {
    height: 100%;
  }
  #app-index .content-left .index-headlines .sub-headline {
    margin-bottom: 0px;
  }
  #app-index .content-left .index-headlines .button {
    position: absolute;
    bottom: 40px;
  }
  #app-index .content-left .index-stats {
    bottom: 160px;
    left: 0px;
    width: 100%;
  }
  #app-index .content-left .index-stats .stats-container {
    width: calc(50% - 2px);
    padding-right: 3.575%;
    float: none;
    margin-bottom: 0px;
    vertical-align: top;
  }
  #app-index .content-left .index-stats .stats-container.tax-credits {
    width: calc(50% - 2px);
    padding-left: 3.575%;
    padding-right: 0px;
  }
  #app-index .content-left .index-stats .stats-container.tax-credits h4 {
    left: -2px;
  }
  #app-index .content-left .index-stats .stats-container p {
    white-space: nowrap;
  }
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    #app-index .content-left .index-stats .stats-container p {
      font-size: 1.1rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    #app-index .content-left .index-stats .stats-container p {
      font-size: 3.4375vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    #app-index .content-left .index-stats .stats-container p {
      font-size: 1.4rem;
    }
}
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    #app-index .content-left .index-stats .stats-container p {
      line-height: 1.3rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    #app-index .content-left .index-stats .stats-container p {
      line-height: 4.0625vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    #app-index .content-left .index-stats .stats-container p {
      line-height: 1.7rem;
    }
}
  #app-index .content-left .index-stats .stats-container h4 {
    position: relative;
    top: 0px;
    left: -4px;
  }
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    #app-index .content-left .index-stats .stats-container h4 {
      font-size: 4rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    #app-index .content-left .index-stats .stats-container h4 {
      font-size: 12.5vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    #app-index .content-left .index-stats .stats-container h4 {
      font-size: 5.2rem;
    }
}
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    #app-index .content-left .index-stats .stats-container h4 {
      line-height: 5rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    #app-index .content-left .index-stats .stats-container h4 {
      line-height: 15.625vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    #app-index .content-left .index-stats .stats-container h4 {
      line-height: 6.5rem;
    }
}
  #app-index .content-left .index-stats .separator {
    position: absolute;
    left: calc(50% - 0px);
    width: 1px;
    height: 100%;
    margin: 0px;
  }
  #app-index .content-left .index-stats .disclaimer {
    letter-spacing: -0.0175em;
    font-weight: 500;
    position: absolute;
    bottom: 0px;
    -webkit-transform: translateY(100%) translateY(15px);
            transform: translateY(100%) translateY(15px);
  }
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    #app-index .content-left .index-stats .disclaimer {
      font-size: 1rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    #app-index .content-left .index-stats .disclaimer {
      font-size: 3.125vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    #app-index .content-left .index-stats .disclaimer {
      font-size: 1.3rem;
    }
}
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    #app-index .content-left .index-stats .disclaimer {
      line-height: 1.2rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    #app-index .content-left .index-stats .disclaimer {
      line-height: 3.75vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    #app-index .content-left .index-stats .disclaimer {
      line-height: 1.6rem;
    }
}
  #app-index .index-tiles .tile {
    height: 62vw;
  }
  #app-index .background-container {
    height: 100vh;
    min-height: 520px;
  }
  #app-index .background-container .overlay {
    display: none;
  }
  #app-index .background-container .poster {
    display: block;
    top: 0px;
    left: 0px;
  }
  #app-index .background-container video {
    display: none;
  }
}
@media only screen and (max-width: 960px) and (min-device-width: 375px) and (max-device-width: 667px) and (width: 375px) and (height: 559px) and (orientation: portrait) and (color: 8) and (device-aspect-ratio: 375/667) and (aspect-ratio: 375/559) {
  #app-real-talk .content-left,
  #overlay-container .content-left,
  #app-charging-locator .content-right,
  #app-index .content-left {
    height: 559px;
    min-height: 559px;
  }
}
@media only screen and (max-width: 960px) and (min-device-width: 414px) and (max-device-width: 736px) and (device-width: 414px) and (device-height: 736px) and (orientation: portrait) {
  #app-real-talk .content-left,
  #overlay-container .content-left,
  #app-charging-locator .content-right,
  #app-index .content-left {
    height: 628px;
    min-height: 628px;
  }
}
/*# sourceMappingURL=app.css.map */