/*==========  Google fonts  ==========*/
/*==========  Browser reset  ==========*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*==========  Sprites  ==========*/
/*==========  Globals Variables  ==========*/
@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Regular.woff") format('woff'), url("../fonts/Roboto-Regular.ttf") format('truetype'), url("../fonts/Roboto-Regular.svg#0f36e451afbb48ba6ebc31554b154772") format('svg'); /* Legacy iOS */
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
}
html {
  line-height: 1.5;
  font-family: Roboto;
  font-weight: normal;
  color: #000;
}
.backgroundlassName-base-light-font-color {
  background-color: #fff;
}
.base-light-font-color {
  color: #fff;
}
.backgroundlassName-black {
  background-color: #000;
}
.black {
  color: #000;
}
.backgroundlassName-text-black {
  background-color: #141414;
}
.text-black {
  color: #141414;
}
.backgroundlassName-base-dark-font-color {
  background-color: #202127;
}
.base-dark-font-color {
  color: #202127;
}
/*==========  Utils  ==========*/
.underline {
  text-decoration: underline;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.vertical-align-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
/* Reflex v1.0.9 - https://github.com/leejordan/reflex */
/*==========  Mixins  ==========*/
/*==========  Media queries  ==========*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body.is-scrolling {
  pointer-events: none;
}
.icon {
  font-size: 2.5rem;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 3.6rem;
  line-height: 4.3rem;
}
h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}
h3 {
  font-size: 2.8rem;
  line-height: 2.1rem;
}
h4 {
  font-size: 3rem;
  line-height: 4rem;
}
h5 {
  font-size: 2rem;
  line-height: 2.4rem;
}
h6 {
  font-size: h6-fontsize;
  line-height: h6-lineheight;
}
a {
  font-size: 1.4rem;
  line-height: 3rem;
}
p {
  font-size: 2rem;
  line-height: 100%;
}
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
b {
  font-size: 1.4rem;
}
em {
  font-style: italic;
}
strong {
  font-weight: 500;
}
small {
  font-size: 75%;
}
.light {
  font-weight: 300;
}
.thin {
  font-weight: 200;
}
html,
body {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-weight: normal;
}
p {
  font-size: 2rem;
  line-height: 3rem;
}
p strong {
  font-family: LouisRegular;
  font-size: 2rem;
  line-height: 3rem;
}
p em {
  font-style: italic;
  font-family: LouisRegular;
  font-size: 2rem;
  line-height: 3rem;
}
p .bold {
  font-weight: 700;
}
#main-nav a {
  text-decoration: none;
}
#main-nav a.active {
  text-decoration: underline;
}
/* Devices, Tablets/Mobile */
@media only screen and (max-width: 960px) {
  .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
    visibility: hidden;
  }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    font-weight: inherit;
  }
  h1 {
    font-size: 3.2rem;
    line-height: 3.4rem;
  }
  h2 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  h3 {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
  h4 {
    font-size: 2.3rem;
    line-height: 4rem;
  }
  h5 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  h6 {
    font-size: h6-fontsize;
    line-height: h6-lineheight;
  }
  a {
    font-size: 1.4rem;
    line-height: 3rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 100%;
  }
  blockquote,
  pre,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  b {
    font-size: 1.4rem;
  }
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    p strong {
      font-size: 1.6rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    p strong {
      font-size: 5vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    p strong {
      font-size: 2.1rem;
    }
}
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    p strong {
      line-height: 3rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    p strong {
      line-height: 9.375vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    p strong {
      line-height: 3.9rem;
    }
}
  p em {
    font-style: italic;
  }
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    p em {
      font-size: 1.6rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    p em {
      font-size: 5vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    p em {
      font-size: 2.1rem;
    }
}
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    p em {
      line-height: 3rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    p em {
      line-height: 9.375vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    p em {
      line-height: 3.9rem;
    }
}
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    p {
      font-size: 1.6rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    p {
      font-size: 5vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    p {
      font-size: 2.1rem;
    }
}
@media only screen and (max-width: 960px) and (max-width: 320px) and (max-width: 320px) {
    p {
      line-height: 3rem;
    }
}
@media only screen and (max-width: 960px) and (min-width: 320px) and (max-width: 414px) {
    p {
      line-height: 9.375vw;
    }
}
@media only screen and (max-width: 960px) and (min-width: 414px) and (min-width: 414px) {
    p {
      line-height: 3.9rem;
    }
}
}
/*# sourceMappingURL=app.css.map */