// Header Styles
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

h1 { font-size: h1-fontsize; line-height: h1-lineheight; }
h2 { font-size: h2-fontsize; line-height: h2-lineheight; }
h3 { font-size: h3-fontsize; line-height: h3-lineheight; }
h4 { font-size: h4-fontsize; line-height: h4-lineheight; }
h5 { font-size: h5-fontsize; line-height: h5-lineheight ; }
h6 { font-size: h6-fontsize; line-height: h6-lineheight ; }
a  { font-size: fontsize-base; line-height: p-lineheight;}
p  { font-size: p-fontsize; line-height: 100%; }


blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, b{
	font-size: fontsize-base;
}

// Text Styles
em { font-style: italic; }
strong { font-weight: 500; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }

html, body{
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	color: base-light-font-color;
}

h1 {

	font-family: LouisRegular;

}

h2 {

	font-family: LouisBold;

}

strong {
	font-weight: bold;
}

h3 {
	font-family: LouisBold;
}

h4 {
	font-family: LouisRegular;
}

p {

	font-size: p-fontsize;
	line-height: p-lineheight;

	strong {
		font-family: LouisRegular;
		font-size: p-fontsize;
		line-height: p-lineheight;
	}

	em {
		font-style: italic;
		font-family: LouisRegular;
		font-size: p-fontsize;
		line-height: p-lineheight;
	}

	.bold{
		font-weight: 700;
	}
}

.headline{
	font-family: LouisRegular;
	font-size: h1-fontsize;
	line-height: 1;
	letter-spacing: -0.035em;
	margin-bottom: 18px;
}

.sub-headline{
	font-size: h2-fontsize;
	font-family: Roboto;
	font-weight: 300;
	line-height: sub-headline-lineheight;
	letter-spacing: -0.02em;
	margin-bottom: 38px;
}

.third-line {
	font-size: 1.7rem;
	line-height: 2rem;
}
