/* ==========================================================================
	 Stinkdigital variables
	 ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Globals ( viewport helpers etc)
 *  2. Colors
 *  3. Typography
 *  4. Grid

 * COMPONENTS *

 *  5. Tile

 */


 /* 1. Globals
	 ========================================================================== */


 /* 3. Typography
	 ========================================================================== */

	/* Font Sizes */
	fontsize-base        	= 1.4rem;

	nav-fontsize 		   	  = 2.2rem;
	base-icon-fontsize		= 2.5rem;
	footer-cta-fontsize  	= 2.8rem

	h1-fontsize			   	  = 3.6rem;
	h2-fontsize			   	  = 2.4rem;
	h3-fontsize			   	  = 2.8rem;
	h4-fontsize           = 3.0rem;
	h5-fontsize			   	  = 2.0rem;
	p-fontsize            = 2.0rem;
	p-small-fontsize      = 1.6rem;
	small-fontsize        = 1.0rem;

	headline-fontsize     = 4.4rem;

	tite-title-fontsize		= 2.2rem;
	tite-desc-fontsize		= 1.6rem;

	// font-size/line height maximum at that width
	max-font-width        = 414;

	btn-fontsize		      = 1.4rem;
	text-link-fontsize		= 1.4rem;
	footer-link-fontsize	= 1.1rem;
	footer-icon-fontsize	= 1.4rem;

	nav-item-fontsize		= 3.0rem;

	/* Line Height */

	h1-lineheight        	= 4.3rem;
	h2-lineheight        	= 3.2rem;
	h3-lineheight        	= 2.1rem;
	h4-lineheight         = 4.0rem;
	h5-lineheight        	= 2.4rem;
	p-lineheight         	= 3.0rem;
	tite-title-lineheight	= 3.0rem;
	tite-desc-lineheight	= 2.0rem;

	text-link-lineheight	= 2.5rem;
	footer-link-lineheight = 3.1rem;
	sub-headline-lineheight = 3.2rem;

	nav-item-lineheight		= 6.8rem;

 /* 3. Z-Indexes
	 ========================================================================== */
	z-index-array = {
	//Top Level
	'side-nav'         : 10,
	'menu'             : 9,
	'modal'            : 99,
	//everyday
	'everyday-main-content'     : 2,
	'everyday-overlay'          : 3,
	'everyday-background'       : 1,

	 //Other section ( better to group same level elements )

	}

	 /* 4. Grid
	 ========================================================================== */

	 /* 5. Buttons
	 ========================================================================== */
	 btn-height             = 60px;
	 btn-padding-horizontal = 40px;

	 btn-padding-prev = 0px 40px 0px 25px;
	 btn-padding-next = 0px 25px 0px 40px;

	 /* 7. Easing
	 ========================================================================== */

		quad-ease-in             = cubic-bezier(0.550, 0.085, 0.680, 0.530);
		cubic-ease-in            = cubic-bezier(0.550, 0.055, 0.675, 0.190);
		quart-ease-in            = cubic-bezier(0.895, 0.030, 0.685, 0.220);
		quint-ease-in            = cubic-bezier(0.755, 0.050, 0.855, 0.060);
		sine-ease-in             = cubic-bezier(0.470, 0.000, 0.745, 0.715);
		expo-ease-in             = cubic-bezier(0.950, 0.050, 0.795, 0.035);
		circ-ease-in             = cubic-bezier(0.600, 0.040, 0.980, 0.335);
		back-ease-in             = cubic-bezier(0.600, -0.280, 0.735, 0.045);

		quad-ease-out            = cubic-bezier(0.250, 0.460, 0.450, 0.940);
		cubic-ease-out           = cubic-bezier(0.215, 0.610, 0.355, 1.000);
		quart-ease-out           = cubic-bezier(0.165, 0.840, 0.440, 1.000);
		quint-ease-out           = cubic-bezier(0.230, 1.000, 0.320, 1.000);
		sine-ease-out            = cubic-bezier(0.390, 0.575, 0.565, 1.000);
		expo-ease-out            = cubic-bezier(0.190, 1.000, 0.220, 1.000);
		circ-ease-out            = cubic-bezier(0.075, 0.820, 0.165, 1.000);
		back-ease-out            = cubic-bezier(0.175, 0.885, 0.320, 1.275);

		quad-ease-in-out         = cubic-bezier(0.455, 0.030, 0.515, 0.955);
		cubic-ease-in-out        = cubic-bezier(0.645, 0.045, 0.355, 1.000);
		quart-ease-in-out        = cubic-bezier(0.770, 0.000, 0.175, 1.000);
		quint-ease-in-out        = cubic-bezier(0.860, 0.000, 0.070, 1.000);
		sine-ease-in-out         = cubic-bezier(0.445, 0.050, 0.550, 0.950);
		expo-ease-in-out         = cubic-bezier(1.000, 0.000, 0.000, 1.000);
		circ-ease-in-out         = cubic-bezier(0.785, 0.135, 0.150, 0.860);
