/*==========  Variables  ==========*/

@import "960px/_variables";

/*==========  Global styles  ==========*/

@import "960px/_global";
@import "960px/_typography";

/*==========  Components  ==========*/

@import "960px/components/_header";

/*==========  Pages  ==========*/

@import "960px/pages/_index";
