.main-header {

	display: block;
	height: 42px;
	position: absolute;
	top: 31px;
	left: 2.34%;
	z-index: 12;
	opacity: 0;

	.hamburger-container{
		z-index: 9;
		position: relative;
	}

	.hamburger-menu{

		display: block;
		// margin-left: 10px;
		margin-right: 10px;
		float: left;
		position: relative;
		top: 10px;
		cursor: pointer;

		.hamburger-menu-wrapper{

			display: block;
			position: relative;
			height: 19px;
			width: 32px;

			.line{
				display: block;
				background-color: white;
				width: 100%;
				height: 3px;
				position: absolute;
				transition: all 0.5s ease-out;
				&.line-2{
					top: 8px;
				}

				&.line-3{
					top: 16px;
				}

			}

		}

		&.active{

			.hamburger-menu-wrapper{

				.line{
					&.line-1{
						transform: translateY(8px) rotate(45deg);
					}

					&.line-2{
						transform: scaleX(0);
					}
					&.line-3{
						transform: translateY(-8px) rotate(-45deg);
					}

				}

			}

		}

	}

	.logo {

		display: inline-block;
		height: 45px;
		transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
		margin-left: 0px;
		position: relative;
		top: -2px;
		float: left;
		will-change: transform;

		a {

			height: 100%;
			line-height: 3.8rem;
			display: block;
			text-decoration: none;

			img{
				height: 100%;
			}
		}

		.title {
			display: block;
			height: 0;
			overflow: hidden;
			display: block;
			position: absolute;
		}

	}

}
