<div class="video-player">

	<h2>{{title}}</h2>
	<video controls webkit-playsinline playsinline class="js-player">
	 	<source src="{{src}}" type="video/mp4">
	</video>
	<button class="--btn-std next-hotspot">{{ui.label_next_hotspot}}</button>
</div>
