<section class="hotspot hotspot-photo">

	<button class="close">{{SVG.close_x|raw}}</button>
	<span class="overlay"></span>

	<div class="hotspot-photo-container">
		<div class="photo-container">
			<nav>
				<button class="arrow prev">{{SVG.carrot_left|raw}}</button>
				<button class="arrow next">{{SVG.carrot_right|raw}}</button>
			</nav>

			<div class="photo-items-container"></div>
		</div>

		<div class="audio-container">

		</div>
	</div>

</section>
